body {
  margin: 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

.App {
  max-width: 640px;
  margin: 0 auto;
}
nav {
  background: #772eff;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
}
nav h1 {
  margin: 0;
  margin-right: auto;
}
nav li {
  display: inline-block;
  margin: 0 0 0 16px;
  cursor: pointer;
}
nav a {
  color: #fff;
  text-decoration: none;
}
.todo-list ul {
  padding: 0;
}
.todo-list li {
  list-style-type: none;
  padding: 10px;
  background: #fff;
  margin: 10px 0;
  cursor: pointer;
}
label,
label span {
  display: block;
  margin: 6px 0;
}
input {
  padding: 6px;
  margin-bottom: 12px;
}
button {
  background: #772eff;
  color: #fff;
  border: 0;
  padding: 6px 8px;
}

/* 삭제, 수정버튼 */

.todo-item {
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.todo-item .dele {
  position: absolute;
  top: 0;
  right: 0px;
  color: #777;
  border: none;
  padding: 8px 8px;
  text-align: center;
  line-height: 0;
  font-size: 1.3em;
  cursor: pointer;
}

.todo-item .dele:hover {
  color: red;
}

.todo-item .edit {
  position: absolute;
  top: 0;
  right: 30px;
  color: #777;
  border: none;
  padding: 8px 8px;
  text-align: center;
  line-height: 0;
  font-size: 1.3em;
  cursor: pointer;
}

.todo-item .edit:hover {
  color: green;
}

/* 모달창 */
.modal-container {
  /* 모달창 크기 */
  width: 500px;
  height: 200px;

  /* 중앙 배치 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 */

  /* 가운데 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 모달창 닫기 버튼 */
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #555;
}

/* 모달 내부 내용 */
.modal-content {
  padding: 20px;
  margin-bottom: 10px;
}

/* 입력란 스타일 */
.modal-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 수정 버튼 스타일 */
.edit-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.edit-button:hover {
  background-color: #38853b;
}

/* 닫기 버튼 */
.modal-close {
  padding: 6px 10px;
  background-color: #ccc;
  color: #555;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #777;
  color: #333;
}
